{{ define "head" }}
    {{ partial "style.html" (dict "css" "css/learn.css") }}
{{ end }}

{{ define "main" }}

    {{/* we must add logic here for muliple page learn and module  */}}
    {{ $split := "/"}}
    {{ if strings.Contains .File.Dir "\\" }}
        {{ $split = "\\"}}
    {{ end }}
    {{ $dirParts := split .File.Dir $split }}

    {{/* path :{{ .File.Path }}
    dir :{{ .File.Dir }}
    len :{{ (len $dirParts) }} */}}

    {{ if gt (len $dirParts) 2 }}
        {{ partial "learn/module.html" . }}
    {{ else if eq (len $dirParts) 2 }}
        {{ partial "learn/list.html" . }}
    {{ end }}

{{ end }}

{{ define "footer" }}
    {{ partial "script.html" (dict "js" "js/learn.js") }}
{{ end }}