<header class="header">
    <div class="nav">
        <button class="offcanvas-button mobile-nav-toggle toggleOffcanvasBtn" aria-label="Toggle Menu">
            <i class="ri-apps-2-line"></i>
        </button>

        <div class="brand">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.Params.logo | relURL }}" alt="{{ .Site.Title }} logo" class="brand-logo">
            </a>
        </div>

        <nav class="nav-links desktop-nav">
            
            {{ range .Site.Menus.main }}
            
                {{ $menu_item_url := .URL | relLangURL }}
                {{/* {{ $menu_item_url }} */}}

                {{ $page_url := $.Page.RelPermalink | relLangURL }}
                {{ $page_split := index (split $page_url "/") 1 }}
                {{/* {{ $page_split }} */}}

                {{ $active := and (strings.Contains $menu_item_url $page_split) (not $.IsHome) }}
                
                <a href="{{ .URL | relLangURL }}" class='nav-link {{ if or ($active) (and ($.IsHome) (eq .URL "/")) }}active{{ end }}'>
                    <i class="{{ .Pre }}"></i>
                    <span>{{ .Name }}</span>
                </a>
            {{ end}}

        </nav>
        
        <div class="search">
            <a href="/search" class='search-button {{ if eq .Page.RelPermalink "/search/" }}active{{ end }}' aria-label="Search"><i class="ri-search-line"></i></a>
        </button>
    </div>
</header>