{{ define "head" }}
    {{ partial "style.html" (dict "css" "css/terms.css") }}
{{ end }}


{{ define "main" }}

    <main class="main">

        <section class="tags-content">
            <div class="container">


                <div class="tag-content" id="tagContent">
                    <div class="tag-header">
                        <h2 id="tagTitle">Konten dengan Tag: <span id="currentTag">{{ .Title }}</span></h2>
                        <a href="{{ $.Site.BaseURL }}tags/" class="close-tag-view" id="closeTagView">
                            <i class="ri-arrow-left-line"></i>
                            Kembali
                        </a>
                    </div>

                    <div class="tag-results">

                        <div class="results-content">
                            <div class="tab-content active" id="allContent">
                                <div class="content-grid" id="allResults">

                                    {{ range .Pages }}
                                    <div class="content-item">
                                        <div class="content-meta">
                                            {{ $urls := urls.Parse .Path }}
                                            {{ $subs := index (split $urls "/") 1 | humanize }}
                                            <span>
                                                <i class="ri-article-line"></i>
                                                {{ $subs }}
                                            </span>
                                            <span><i class="ri-calendar-2-line"></i> {{ .Date | time.Format ":date_medium" }} </span>
                                            <span><i class="ri-time-line"></i> {{ printf "%d min read" .ReadingTime }}</span>
                                        </div>
                                        <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
                                        <p>
                                            {{ if isset .Params "description" }}
                                                {{ .Description }}
                                            {{ else if gt (countrunes (.Content | plainify)) 120 }}
                                                {{ slicestr (.Content | plainify) 0 120 | safeHTML }}...
                                            {{ else }}
                                                {{ .Content | plainify | safeHTML }}
                                            {{ end }}
                                        </p>
                                        <a href="{{ .RelPermalink }}" class="read-more">
                                            <i class="ri-arrow-right-line"></i>
                                            Selengkapnya
                                        </a>
                                    </div>
                                    {{ end }}



                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main>

{{ end }}