{{ if eq .Params.weather "Hujan"}}
    {{ partial "icons/cloud.html" (dict "class" "w-4 h-4 text-blue-500") }}
{{ else if eq .Params.weather "Badai" }}
    {{ partial "icons/bolt.html" (dict "class" "w-4 h-4 text-purple-500") }}
{{ else if eq .Params.weather "Cerah" }}
    {{ partial "icons/sun.html" (dict "class" "w-4 h-4 text-yellow-500") }}
{{ else if eq .Params.weather "Berawan" }}
    {{ partial "icons/cloud.html" (dict "class" "w-4 h-4 text-gray-500") }}
{{ else if eq .Params.weather "Mendung" }}
    {{ partial "icons/cloud.html" (dict "class" "w-4 h-4 text-gray-600") }}
{{ else }}
    {{ partial "icons/sun.html" (dict "class" "w-4 h-4 text-gray-400") }}
{{ end }}
{{ .Params.weather }}