<section>
    <div class="pn-section pn-skills container">
        <div class="pn-head">
            <h3 class="mono">{{ .Params.skilltitle}}</h3>
        </div>
    
        <div class="pn-tabs" data-tabs>
            <div class="pn-tablist" role="tablist" aria-label="Skill Tabs">
                {{- range $index, $element := .Params.skilltab -}}
                    <button class="pn-tab{{ if eq $index 0 }} active{{ end }}" role="tab" aria-selected="true" aria-controls="{{ $element.class }}" id="tabbtn-{{ $element.class }}">{{ $element.name }}</button>
                {{- end -}}
            </div>
    
            <div class="pn-tabpanels">
                {{- range $index, $element := .Params.skilltab -}}
                    <div id="{{ $element.class }}" class="pn-tabpanel {{ if eq $index 0 }} active{{ end }}" role="tabpanel" aria-labelledby="tabbtn-{{ $element.class }}" {{ if ne $index 0 }} hidden{{ end }}>
                        <ul class="pn-cards pn-cards-scope">
                            {{- range index $.Params.skills $element.id -}}
                                {{ range . }}
                                    <li class="pn-card scope-card">
                                        <div class="scope-title">
                                            {{ .title }}
                                        </div>
                                        <ul class="pn-pill-list">
                                            {{ if .description }}
                                                <li class="pill-desc">
                                                    <p>
                                                        {{ .description }}
                                                    </p>
                                                </li>
                                            {{ else }}
                                                {{- range .items }}
                                                    <li class="pill">{{ . }}</li>
                                                {{ end -}}
                                            {{ end }}
                                        </ul>
                                    </li>
                                {{- end -}}
                            {{- end -}}
                        </ul>
                    </div>                    
                {{- end -}}
            </div>
        </div>
    </div>
</section>