{{ if .Params.galery }}
    <div class="project-gallery">
        <h2 class="section-title">
            <i class="ri-gallery-line"></i>
            Galeri Proyek
        </h2>
        <div class="gallery-grid">
            {{ range $index, $element := .Params.galery }}
                <div class="gallery-item">
                    <img class="glightbox" data-src="{{ $element.image }}" src="{{ $element.image }}" alt="{{ $element.name }}" data-description="{{ $element.description }}" data-gallery="gallery" />
                    <div class="gallery-overlay">
                        <h4>{{ $element.name }}</h4>
                        <p>{{ $element.description }}</p>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}