<div class="project-lessons">
    <h2 class="section-title">
        ✨
        Pelajaran yang didapat
    </h2>
    <div class="lessons-content">

         <div class="lesson-item">
            <h3>
                <i class="fas fa-rocket"></i>
                qweqweqw
            </h3>
            qeqweqweq
        </div>

        <div class="lesson-item">
            <h3>
                <i class="fas fa-rocket"></i>
                qweqweqw
            </h3>
            qeqweqweq
        </div>

        <div class="lesson-item">
            <h3>
                <i class="fas fa-rocket"></i>
                qweqweqw
            </h3>
            qeqweqweq
        </div>

    </div>
</div>