{{ define "head" }}
    {{ partial "style.html" (dict "css" "css/learn.css") }}
{{ end }}


{{ define "main" }}

    <main class="main">

        {{ partial "game-journey/breadcrumb.html" . }}

        {{ $split := "/"}}
        {{ if strings.Contains .File.Dir "\\" }}
            {{ $split = "\\"}}
        {{ end }}
        {{ $dirParts := split .File.Dir $split }}
        {{ $page := index $dirParts 1 }}

        <!-- Main Container -->
        <div class="main-container">

            <!-- Sidebar -->
            <aside class="sidebar" id="sidebar">
                <h2 class="sidebar-title">
                    {{ with .Parent }}
                    {{ .Title }}
                    {{ end }}
                </h2>
                <ul class="lesson-list">

                    {{ with .Parent }}
                    <li class="lesson-item">
                        <a href="{{ .RelPermalink }}" class="lesson-link {{ if eq .RelPermalink $.RelPermalink }}active{{ end }}">
                            <svg class="lesson-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.746 0 3.332.477 4.5 1.253v13C19.832 18.477 18.246 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
                            </svg>

                            {{ if .Params.section }}
                            {{ .Params.section }}
                            {{ else }}
                            {{ .Title }}
                            {{ end }}
                        </a>
                    </li>
                    {{ end }}

                    {{ $posts := where .Site.Pages "Section" "game-journey" }}
                    {{ $sortedPosts := sort $posts "Date" }}

                    {{ range $sortedPosts }}

                    {{/* we must add logic here for muliple page learn and module  */}}
                    {{ $split := "/"}}
                    {{ if strings.Contains .File.Dir "\\" }}
                    {{ $split = "\\"}}
                    {{ end }}
                    {{ $dirParts := split .File.Dir $split }}
                    {{/* dir path posts : {{ $dirParts }}
                    index : {{ index $dirParts 1 }}
                    len : {{ len $dirParts }} */}}

                    {{ if and (eq $page (index $dirParts 1)) (eq (len $dirParts) 4) }}
                    <li class="lesson-item">
                        <a href="{{ .RelPermalink }}" class="lesson-link {{ if eq .RelPermalink $.RelPermalink }}active{{ end }}">
                            <svg class="lesson-icon {{ if eq .RelPermalink $.RelPermalink }}active{{ end }}" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.746 0 3.332.477 4.5 1.253v13C19.832 18.477 18.246 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
                            </svg>

                            {{ if .Params.section }}
                            {{ .Params.section }}
                            {{ else }}
                            {{ .Title }}
                            {{ end }}
                        </a>
                    </li>
                    {{ end }}
                    {{ end }}

                </ul>
            </aside>

            <!-- Content Wrapper -->
            <div class="content-wrapper">
                <!-- Main Content -->
                <main class="main-content">
                    <div class="content-header">
                        <h1 class="content-title">
                            {{ .Title }}
                        </h1>
                    </div>

                    <div class="content-text">
                        {{ with .Content }}
                        {{ . | safeHTML }}
                        {{ end }}
                    </div>

                    <!-- Navigation Between Submodules -->
                    {{ with .Parent }}
                        <div class="module-navigation">

                            {{ with $.PrevInSection }}
                                <div class="nav-section">
                                    <a href="{{ .RelPermalink }}" class="nav-button">
                                        <i class="fas fa-arrow-left"></i>
                                        Prev:
                                        {{ if .Params.section }}
                                            {{ .Params.section }}
                                        {{ else }}
                                            {{ .Title }}
                                        {{ end }}
                                    </a>
                                </div>
                            {{ else }}
                                <a href="{{ .RelPermalink }}" class="nav-button">
                                    <i class="fas fa-chevron-left"></i>
                                    Previous:
                                    {{ if .Params.section }}
                                        {{ .Params.section }}
                                    {{ else }}
                                        {{ .Title }}
                                    {{ end }}
                                </a>
                            {{ end }}

                            {{ with $.NextInSection }}
                                <div class="nav-section">
                                    <a href="{{ .RelPermalink }}" class="nav-button">
                                        Next:
                                        {{ if .Params.section }}
                                            {{ .Params.section }}
                                        {{ else }}
                                            {{ .Title }}
                                        {{ end }}
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            {{ else }}
                                <span class="nav-button disabled">
                                    Next: Coming Soon
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            {{ end }}
                        </div>
                    {{ end }}


                </main>
            </div>

            {{ partial "learn/toc.html" . }}

        </div>

        <!-- Overlay -->
        <div class="overlay" id="overlay"></div>


    </main>

{{ end }}

{{ define "footer" }}
    {{ partial "script.html" (dict "js" "js/learn.js") }}
{{ end }}