{{ define "main" }}

<main class="main">
    <section class="detail-header">
        <div class="container">
            <nav class="breadcrumb">
                <a href="{{ $.Site.BaseURL }}journal/">
                    <i class="fas fa-book"></i>
                    Journal
                </a>
                <i class="fas fa-chevron-right"></i>
                <span>{{ .Title }}</span>
            </nav>
        </div>
    </section>

    <article class="detail-content">
        <div class="container">
            <div class="detail-article">
                <header class="detail-article-header">
                    <div class="journal-date-large">
                        <div class="date-day">{{ .Date.Day }}</div>
                        <div class="date-month">{{ .Date.Month }}</div>
                        <div class="date-year">{{ .Date.Year }}</div>
                    </div>
                    <div class="detail-meta">
                        <div class="detail-meta-item">
                            <i class="fas fa-clock"></i>
                            <span>{{ .Date.Format "3:04 PM" }}</span>
                        </div>

                        {{ if .Params.mood }}
                        <div class="detail-meta-item">
                            {{ if eq .Params.mood "Smile"}}
                            <i class="fas fa-smile"></i>
                            {{ else if eq .Params.mood "Inspired" }}
                            <i class="fas fa-lightbulb"></i>
                            {{ else if eq .Params.mood "Super" }}
                            <i class="fas fa-grin-stars"></i>
                            {{ else if eq .Params.mood "Energetic" }}
                            <i class="fas fa-coffee"></i>
                            {{ else }}
                            <i class="fas fa-meh"></i>
                            {{ end }}
                            {{ .Params.mood }}
                        </div>
                        {{ end }}

                        {{ if .Params.weather }}
                        <div class="detail-meta-item">
                            {{ if eq .Params.weather "Rain"}}
                            <i class="fas fa-cloud-rain"></i>
                            {{ else if eq .Params.weather "Bright" }}
                            <i class="fas fa-sun"></i>
                            {{ else if eq .Params.weather "Clear" }}
                            <i class="fas fa-star"></i>
                            {{ else }}
                            <i class="fas fa-cloud"></i>
                            {{ end }}
                            {{ .Params.weather }}
                        </div>
                        {{ end }}

                        {{ if .Params.location }}
                        <div class="detail-meta-item">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>{{ .Params.location }}</span>
                        </div>
                        {{ end }}

                    </div>
                    <h1 class="detail-title">{{ .Title }}</h1>
                </header>

                <div class="detail-body">
                    <div class="journal-entry-full">

                        {{ with .Content }}
                        {{ . | safeHTML }}
                        {{ end }}

                        <div class="journal-signature">
                            <p>
                                <em>
                                    Until next time,
                                    <br>Irfan
                                </em>
                            </p>
                        </div>
                    </div>

                    {{ if gt .Params.tags 0 }}
                    <div class="detail-tags">
                        <h4>Tags:</h4>
                        <div class="tags-list">
                            {{ range .Params.tags }}
                            <span class="tag">{{ . }}</span>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}

                </div>

                <footer class="detail-footer">
                    <div class="detail-navigation">
                        <a href="javascript:window.history.go(-1);" class="nav-button">
                            <i class="fas fa-arrow-left"></i>
                            Back to Journal
                        </a>
                        <div class="nav-buttons">

                            {{ $pages := .CurrentSection.Pages.ByWeight }}

                            {{ with $pages.Prev . }}
                            <a href="{{ .RelPermalink }}" class="nav-button">
                                <i class="fas fa-chevron-left"></i>
                                Previous Entry
                                <!-- {{ .LinkTitle }} -->
                            </a>
                            {{ end }}

                            {{ with $pages.Next . }}
                            <a href="{{ .RelPermalink }}" class="nav-button">
                                Next Entry
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            {{ end }}
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </article>
</main>

{{ end }}