{{ define "head" }}
    {{ partial "style.html" (dict "css" "css/project.css") }}
{{ end }}

{{ define "main" }}
    <main class="main">
        <section class="detail-header">
            <div class="container">
                <nav class="breadcrumb">
                    <a href="{{ .CurrentSection.RelPermalink }}">
                        <i class="ri-briefcase-2-line"></i>
                        {{ with .Parent }}
                            {{ .Title }}
                        {{ end }}
                    </a>
                    <i class="ri-arrow-right-s-line"></i>
                    <span>{{ .Title }}</span>
                </nav>
            </div>
        </section>

        <article class="portfolio-detail">
            <div class="container">

                {{ partial "project/hero.html" . }}           
                {{ partial "project/overview.html" . }}           
                {{ partial "project/feature.html" . }}           
                {{ partial "project/stack.html" . }}           
                {{ partial "project/galery.html" . }}           
                {{ partial "project/changelog.html" . }}
                <!-- {{ partial "project/lesson.html" . }} -->
                {{ partial "project/review.html" . }}           

                <div class="project-navigation">
                    <div class="nav-section">
                        <a href="{{ $.Site.BaseURL}}projects/" class="nav-button">
                            <i class="ri-arrow-left-line"></i>
                            Kembali
                        </a>
                    </div>
                    <div class="nav-section">
                        <div class="nav-buttons">
                            {{ $pages := .CurrentSection.Pages.ByWeight }}

                            {{ with $pages.Prev . }}
                                <a href="{{ .RelPermalink }}" class="nav-button">
                                    <i class="ri-arrow-left-s-line"></i>
                                    Proyek Sebelumnya
                                </a>
                            {{ end }}

                            {{ with $pages.Next . }}
                                <a href="{{ .RelPermalink }}" class="nav-button">
                                    Proyek Selanjutnya
                                    <i class="ri-arrow-right-s-line"></i>
                                </a>
                            {{ end }}
                        </div>
                    </div>
                </div>


            </div>
        </article>
    </main>

{{ end }}