<main class="main game-journey">

    <section class="page-header">
        <div class="container">
        <h1 class="page-title">
            🎮
            {{ .Title }}
        </h1>
        {{ with .Params.description }}<p class="page-description">{{ . }}</p>{{ end }}
    </section>

    <section class="gj-list">
        <div class="container">
            <ul class="gj-grid">
                {{ range .Pages }}
                    <li class="gj-card">
                        <a class="gj-card-link" href="{{ .RelPermalink }}">
                            <div class="gj-thumb gj-thumb-container">
        
                                {{ if hasPrefix .Params.image "http" }}
                                    <img src='{{ .Params.image }}' alt='{{ .Title }}' loading="lazy" />
                                {{ else }}
                                    <img src='{{ .RelPermalink }}{{ .Params.image }}' alt='{{ .Title }}' loading="lazy" />
                                {{ end }}
                                
                                
                                <!-- <div class="gj-thumb--placeholder" aria-hidden="true"></div> -->
                            </div>
                            <div class="gj-card-body">
                                <h2 class="gj-card-title">{{ .Title }}</h2>
                                {{ with .Params.description }}<p class="gj-summary">{{ . }}</p>{{ end }}
                                <div class="gj-meta">
                                    <span class="gj-reading-time">
                                        <i class="ri-time-line"></i>
                                        {{ $totalReadingTime := 0 }}
                                        {{ range .Pages }}
                                        {{ $totalReadingTime = add $totalReadingTime .ReadingTime }}
                                        {{ end }}
                                        <span>{{ printf "%d min waktu baca" $totalReadingTime }}</span>
                                    </span>
                                    <span class="gj-count-content">
                                        <i class="ri-file-text-line"></i>
                                        <span>{{ (len .Pages) }} Konten</span>
                                    </span>
                                </div>
                                <div class="gj-actions">
                                    <span></span>
                                    <a class="btn btn-primary" href="{{ .RelPermalink }}">Buka</a>
                                </div>
                            </div>
                        </a>
                    </li>
                {{ else }}
                    Tidak ada Konten Panduan Game Saat ini.
                {{ end }}
            </ul>
        </div>

    </section>

</main>