<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<div class="post">
			<div class="post-header">
				{{ if ne .Date.Year 1 }}
				<div class="meta">
					<div class="date">
						<span class="day">{{ dateFormat "02" .Date }}</span>
						<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
					</div>
				</div>
				{{ end }}
				<div class="matter">
					<h1 class="title">{{ .Title }}</h1>
				</div>
			</div>

			<div class="markdown">
				{{ with .Content }} 
				{{ . | safeHTML }} 
				{{ end }}
			</div>

			<div class="tags">
				{{ if gt .Params.stack 0 }}
				<ul>
					{{ range .Params.stack }}
					<li style='border:1px solid #ccc; color:#888; padding: 0px 8px;margin:0; font-size: 10px; '>
						{{ . }}
					</li>
					{{ end }}
				</ul>
				{{ end }}
			</div>

			
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
